In [ ]:
#create a header using h1 style

# Data Science Tools and Ecosystem

In [ ]:
#create an introduction

In this notebook, Data Science Tools and Ecosystem are summarized.

In [ ]:
#list objectives

**Objectives:**
- Learn which languages data scientist use
- Learn which libraries are commonly used by data scientists
- Learn which tools they use
- Learn how to use github

In [ ]:
#create a list of languages

Here is a list of data science languages that are commonly used:
1. Python
2. C
3. C++
4. R
5. Java
6. Javascript
7. Julia

In [ ]:
#create a list of libraries

Here is a list of data science libraries: 
1. Matplotlib
2. numpy
3. Pandas
4. Scipy
5. Plotly
6. Tensorflow

In [ ]:
# create a table of data science tools


 |data science tools|
 |---|
 |Tensor flow|
 |Apache spark|
 |Hadoop|

In [ ]:
# create a markdown cell with arithmetic expressions

### Below are a few examples of evaluating arithmetic expressions in Python

1+1=2 \
2+1=3 \
2*2=4

In [ ]:
# create a cell to evaluate arithmetic expressions

This a simple arithmetic expression to mutiply then add integers

In [10]:
(3*4)+5

17

In [14]:
# create a cell to turn minutes to hours

This will convert 200 minutes to hours by diving by 60

In [11]:
200/60

3.3333333333333335

In [15]:
#create an author cell in h2 style

## Author: LUCA ODISHO